*{
    font-family: monospace;
}

/* Dropdown */
.Select-control {
    background-color: rgb(25, 25, 25) !important;
    color:white;
}

.Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}

.Select-value-label {
    color: white !important;
}

.VirtualizedSelectOption {
    background-color: rgb(25, 25, 25);
    color: white;
}

.VirtualizedSelectFocusedOption {
    background-color: rgb(25, 25, 25);
    color: #ff8800;
}

/* Input */
input { 
    background: rgb(25, 25, 25);
    color: white; 
}

/* Date Pciker */
.DateInput_input { 
    background: rgb(25, 25, 25);
    color: white; 
    font-size: small;
} 
